@{
	ViewData["Title"] = "Data input";
}
<div>
	<h2>Введите текст для отправки на сервер</h2>
	<form method="post">
		<div>
			<input name="text" type="text" placeholder="Sample text" />
		</div>
		<div>
			<input type="submit">
		</div>
	</form>
</div>
