@{
    ViewData["Title"] = "TextDetails";
}
<div>
	<h2>Введите идентификатор текста для получения статистики</h2>
	<form method="get" action="ShowTextDetails">
		<div>
			<input name="id" type="text" placeholder="Text id" />
		</div>
		<div>
			<input type="submit">
		</div>
	</form>
</div>
